// MODAL SELECT COLUMNS

.modal-content-select-columns {
  background-color: #e3e7f3;
  border: 2px solid black;
  margin-top: 20px;
}

.modal-title-wrapper {
  padding: 5px 10px;
  border-bottom: 2px solid black;
}

.title-select-columns {
  font-size: 16px;
}

.select-modal-content {
  padding: 30px;
}

.search-input-select {
  font-weight: 600;
  padding: 7px 20px;
  border: 1px solid black;
  border-radius: 10px;

  &::placeholder {
    color: black;
  }
}

.drag-drop-table {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}

.columns-wrapper {
  width: 175px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 12px;
}

.columns-item {
  padding: 10px;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.modal-footer-wrapper {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid black;
  padding: 7px 30px;
}

.modal-apply-btn {
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 600;
  background-color: #91a0ff;
  padding: 6px 30px;
  border-radius: 12px;
  border-color: transparent;
  transition: background-color 250ms linear 0s, transform 150ms linear 0s;

  &:hover {
    background-color: rgb(57, 176, 255);
    // transform: translateY(2px);
    transform: scale(1.1);
  }
}
