.wrapper-content {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.open-modal-btn {
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: #ff802c;
  padding: 5px 20px;
  border-radius: 6px;
  border-color: transparent;
  transition: background-color 150ms linear 0s, transform 150ms linear 0s;

  &:hover {
    background-color: #ff6600;
    transform: scale(1.1);
  }
}

.table-data {
  width: 100%;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.37);
}

.user-list-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
}

th:not(:last-child) {
  min-width: 100px;
  border: 1px solid grey;
  text-align: left;
  padding: 5px;
  color: white;
  font-size: 14px;
  background-color: #3aa2d1;
}

th:first-child {
  min-width: 20px;
  text-align: center;
}

th:last-child {
  width: 20px;
  border: 1px solid grey;
  text-align: left;
  padding: 5px;
  color: white;
  font-size: 12px;
  background-color: #3aa2d1;
}

td {
  border: 1px solid lightgrey;
  padding: 5px;
  font-size: 14px;
}

td:first-child {
  text-align: center;
}

.str-table {
  background-color: white;
  &:hover {
    background-color: #ededed;
  }
}

// OPERATION BUTTON

.wrapper-ops-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-operation {
  display: flex;
  padding: 0;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    transform: scale(1.4);
  }
}

// MODAL BUTTONS
.wrapper-modal-btn {
  display: flex;
  gap: 20px;
}

// MODAL SELECT COLUMNS

.modal-content-select-columns {
  background-color: #e3e7f3;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.37);
}

.modal-title-wrapper {
  padding: 5px 10px;
  border-bottom: 2px solid black;
}

.title-select-columns {
  font-size: 16px;
}

.select-modal-content {
  padding: 30px;
}

.search-input-select {
  font-weight: 600;
  padding: 7px 20px;
  border: 1px solid black;
  border-radius: 10px;

  &::placeholder {
    color: black;
  }
}

.drag-drop-table {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}

.columns-wrapper {
  width: 175px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 12px;
}

.columns-item {
  padding: 10px;
  font-weight: 600;
  border-bottom: 1px solid black;
  transition: all 0.4s ease-out;
}

.modal-footer-wrapper {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid black;
  padding: 7px 30px;
}

.modal-apply-btn {
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 600;
  background-color: #91a0ff;
  padding: 6px 30px;
  border-radius: 12px;
  border-color: transparent;
  transition: background-color 250ms linear 0s, transform 150ms linear 0s;

  &:hover {
    background-color: rgb(57, 176, 255);
    transform: scale(1.1);
  }
}
