.wrapper-content {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

.modal-btn {
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: rgb(52, 152, 219);
  padding: 5px 20px;
  border-radius: 6px;
  border-color: transparent;
  transition: background-color 150ms linear 0s, transform 150ms linear 0s;

  &:hover {
    background-color: rgb(57, 176, 255);
    transform: translateY(2px);
  }
}

.table-data {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.user-list-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
}

th {
  min-width: 100px;
  border: 1px solid grey;
  text-align: left;
  padding: 5px;
  background-color: #d1ebcd;
}

th:first-child {
  min-width: 20px;
  text-align: center;
}

td {
  border: 1px solid grey;
  padding: 5px;
}

td:first-child {
  text-align: center;
}

.wrapper-ops-btn {
  display: flex;
  justify-content: space-evenly;
}

.title-input {
  font-size: 14px;
}

.input-form {
  padding: 5px;
  margin: 5px 0;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.form-btn {
  width: 70px;
}
