.header {
  display: flex;
  gap: 16px;
  padding: 10px;
  width: 800px;
  border-bottom: 2px solid #a8a8a8;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.nav-list-link {
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.nav-list-link--active {
    color: rgb(57, 176, 255);
  }
}

// LOGOUT

.navbar-container-logout {
  display: flex;
  justify-content: flex-end;
}

.navbar-logout-block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.navbar-logout-title {
  display: flex;
  margin: auto;
}

.navbar-btn-logout {
  display: flex;
  cursor: pointer;
  color: white;
  background-color: #db34bf;
  padding: 3px;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms linear 0s, transform 150ms linear 0s;

  &:hover {
    background-color: #ad34db;
    transform: translateY(2px);
  }
}
